doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Qantas web challenge
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href=image("apple-touch-icon.png"))
    link(rel="stylesheet", href=css("main.css"))
  body
    #content !{html}

    script
      | window.$REDUX_STATE = !{state}
    script(src=js("main.js"))
