$color-white: #ffffff;
$color-gray: #e0e0e0;

$primary-color-dark: #303f9f;
$primary-color: #3f51b5;
$primary-color-light: #c5cae9;
$primary-color-text: #ffffff;
$accent-color: #ff5722;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #b6b6b6;

$paper-color: $color-white;
$background-color: $color-gray;

$shadow-1-1-color: rgba(0, 0, 0, .12);
$shadow-1-2-color: rgba(0, 0, 0, .24);
$shadow-2-1-color: rgba(0, 0, 0, .16);
$shadow-2-2-color: rgba(0, 0, 0, .23);
$shadow-3-1-color: rgba(0, 0, 0, .19);
$shadow-3-2-color: rgba(0, 0, 0, .23);
$shadow-4-1-color: rgba(0, 0, 0, .25);
$shadow-4-2-color: rgba(0, 0, 0, .22);
$shadow-5-1-color: rgba(0, 0, 0, .30);
$shadow-5-2-color: rgba(0, 0, 0, .22);
