@import "normalize.css";

@import "sizes";
@import "gridle-setup";

@import "blocks/app";
@import "blocks/filter";
@import "blocks/movie-list";
@import "blocks/movie";

body {
  background: $background-color;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}
