@import "../sizes";
@import "../colors";

@mixin paper {
  box-sizing: border-box;
  background: $paper-color;
  border-radius: $border-radius;
}

@mixin level-1 {
  box-shadow: 0 1px 3px $shadow-1-1-color, 0 1px 2px $shadow-1-2-color;
}

@mixin level-2 {
  box-shadow: 0 3px 6px $shadow-2-1-color, 0 3px 6px $shadow-2-2-color;
}

@mixin level-3 {
  box-shadow: 0 10px 20px $shadow-3-1-color, 0 6px 6px $shadow-3-2-color;
}

@mixin level-4 {
  box-shadow: 0 14px 28px $shadow-4-1-color, 0 10px 10px $shadow-4-2-color;
}

@mixin level-5 {
  box-shadow: 0 19px 38px $shadow-5-1-color, 0 15px 12px $shadow-5-2-color;
}
