@import "../colors";
@import "../mixins/app-row";

.filter__container {
  @include app-row;
  padding: $small-gutter;
  text-align: left;
}

.filter__links {
  display: inline-block;
  margin: 0 $small-gutter;
}

@mixin filter-link {
  margin-right: $small-gutter;
  text-transform: uppercase;
  color: $primary-color-text;
  text-decoration: none;
}

.filter__link {
  @include filter-link;
}

.filter__link--selected {
  @include filter-link;
  font-weight: bold;
}

.filter__select {
  display: inline-block;
}
