@import "../colors";
@import "../sizes";
@import "../mixins/paper";

.movie__container {
  // scss-lint:disable NameFormat
  @include gridle_container();
}

.movie__title {
  @include gridle(4);
}

.movie__genres {
  @include gridle(8);
}

.movie__genre {
  @include paper;
  @include level-1;

  color: $primary-text-color;
  font-family: "Roboto Condensed", sans-serif;
  font-size: smaller;
  margin-right: $small-gutter;
  padding: 0 $x-small-gutter;
  text-decoration: none;
  text-transform: uppercase;
}
